
:root {
  --gray-one: #d9d9d9;
  --gray-two: #d9d9d9b3;
  --gray-thr: #fbf3f3b3;
}

body {
  background: url("/assets/bg.png") center center / cover local no-repeat, lightskyblue;
  min-width: 100vw;
  min-height: 100vh;
}

.pointer:hover {
  cursor: pointer;
}

/* GRID ========================================================================================= */

.grid {
  width: 100%;
  height: 100%;
  display: grid;
}

.grid-whole {
  padding: 32px;
  gap: 32px;
  grid:
    "a" auto
    "b" auto
    / 1fr;
}

.grid-upper {
  gap: 16px;
  grid:
    "a a" auto
    "b c" auto
    / 1fr auto;
}

.grid-lower {
  gap: 32px;
  grid:
    "a b" auto
    "a c" auto
    / 1fr 2fr;
}

.grid-header {
  grid:
    ". a ." auto
    / 1fr 2fr 1fr;
}

.grid-search {
  gap: 16px;
  grid:
    "a b" auto
    / auto 1fr;
  background: var(--gray-one);
  border-radius: 16px;
  padding: 16px;
  font: 400 normal 32px / 1em "Roboto Mono", monospace;
  text-align: left;
}

.grid-favorites {
  gap: 16px;
  grid:
    "a" auto
    "b" auto
    "c" auto
    "d" auto
    "e" auto
    / 1fr;
  background: var(--gray-two);
  border-radius: 16px;
  padding: 16px;
  font: 400 normal 32px / 1em "Roboto Mono", monospace;
  text-align: left;
}

.grid-fav {
  gap: 16px;
  grid:
    "a b" auto
    / auto 1fr;
}

.grid-current {
  grid:
    "a" auto
    "b" auto
    / 1fr;
  background: var(--gray-two);
  border-radius: 16px;
  font: 400 normal 32px / 1em "Roboto Mono", monospace;
}

.grid-current-lower {
  grid:
    "a b c" auto
    / 1fr 1fr 1fr;
  padding: 16px;
  text-align: center;
}

.grid-week {
  gap: 16px;
  grid:
    "a b c d e" auto
    / 1fr 1fr 1fr 1fr 1fr;
}

.grid-day {
  gap: 8px;
  grid:
    "a" auto
    "b" auto
    "c" auto
    "d" auto
    "e" auto
    / 1fr;
  background: var(--gray-two);
  border-radius: 16px;
  padding: 16px;
  font: 400 normal 24px / 1em "Roboto Mono", monospace;
  text-align: center;
}

/* AREA ========================================================================================= */

.area {
  width: 100%;
  height: 100%;
  display: block;
}

.area-a { grid-area: a; }
.area-b { grid-area: b; }
.area-c { grid-area: c; }
.area-d { grid-area: d; }
.area-e { grid-area: e; }
.area-f { grid-area: f; }
.area-g { grid-area: g; }

/* CELL ========================================================================================= */

.cell {
  width: 100%;
  height: 100%;
  display: block;
}

.cell-header {
  background: var(--gray-one);
  border-radius: 16px;
  font: 400 normal 64px / 1.25em "Righteous", sans-serif;
  text-align: center;
}

.cell-header-fav {}

.cell-fav-icon {}
.cell-fav-name {}

.cell-current-upper {
  background: var(--gray-thr);
  border-radius: 16px 16px 0 0;
  padding: 16px;
  text-align: center;
}
